.button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 282px;
	max-height: 75px;
	padding: 20px 20px;
	background-color: transparent;
	background-image: linear-gradient(to right, var(--orange-light), var(--orange-dark));
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: var(--white);
	font-weight: 700;
	font-size: 24px;
}

.buttonText {
	margin: none;
	color: inherit;
}
