@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
	--white: #FFFFFF;
	--black: #332F2E;
	--orange-light: #FF9F1C;
	--orange-dark: #FF6B35;
	--header-gradient: #FEF6E9;
}

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Montserrat', serif;
}

* {
	color: var(--black);
	box-sizing: border-box;
	-webkit-font-smoothing: antialisaed;
	-moz-osx-font-smoothing: grayscale;
}

.clear-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}
